body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	Line-height:1.6em;
	margin:0;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
#main-header{
	background-color:coral;
	color:#fff;
}
#showcase h1{
	font-family:monospace;
}
#navbar{
	background-color:#333;
	color:#fff;
}
#navbar ul{
	padding:0;
	list-style:none;
	float:right;
	display:flex;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
	opacity:0.4;
	transition:opacity .25s;
}
#navbar a:hover{
	opacity:1;
}

#showcase{
	background-image:url('http://www.stephencurryone.org/data/out/123/1307563.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}
#showcase h1{
	color:#fff;
	font-size:50px;
	Line-height:1.6em;
	padding-top:30px;
}
#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing:border-box;
}
#main{
	float:right;
	width:30%;
	background:#333;
	color:#fff;
	padding:10px;
	box-sizing:border-box;
}

#main-footer{
	background:#333;
	color:#fff;
	text-align:center;
	padding:20px;
	margin-top:40px;
}
@media9max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}

